#singleMoviePoster {
  width: 400px;
}

.userAvatar {
  height: 200px;
}

.flex {
  display: flex;
}

#userPage {
  flex-direction: column;
  flex-wrap: wrap;
}

/* Footerbar styles */
#footerbar {
  background-color: #f0f0f0;
  overflow: hidden;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  border-top: solid 3px;
}

.footerThumbnail {
  height: 30px;
}

#gitLinks {
  display: flex;
  justify-content: space-evenly;
}

#gitLinks > div {
  display: flex;
  align-items: center;
  height: 40px;
}

/* Navbar styles */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  /* Background color for the navbar */
  padding: 10px 20px;
  /* Adjust padding as needed */
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 98%;
  height: 50px;
  border-bottom: solid 3px;
}

.spacer {
  height: 50px;
}

#navbarAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid gray 2px;
}

#navbarProfile {
  flex-direction: column-reverse;
  align-items: center;
}

/* Logo styles */
#navbar h2 {
  margin: 0;
  font-size: 24px;
  text-decoration: none;
  color: #333;
  /* Text color for the logo */
}

/* Search bar styles */

#navbar form {
  display: flex;
  align-items: center;
}

#navbar input[type="text"] {
  padding: 5px;
  margin-right: 10px;
  width: 400px;
}

#navbar button[type="submit"] {
  padding: 5px 10px;
  background-color: lightblue;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

/* Navigation links styles */
#navbar a {
  text-decoration: none;
  color: #333;
  /* Text color for the navigation links */
  margin-left: 20px;
}

#navbar a.active {
  color: #007bff;
}

/* Home.css */

.film-box {
  display: flex;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.film-thumbnail img {
  width: 240px;
  height: 345px;
  object-fit: cover;
}

.film-details {
  margin-left: 20px;
}

.add-review-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 5px;
}
