/* Home.css */

.film-box {
    display: flex;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.film-thumbnail img {
    width: 240px;
    height: 345px;
    object-fit: cover;
}

.film-details {
    margin-left: 20px;
}

.add-review-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;

}